This is to add two more cores from the North Pacific as case study.

In [1]:
import numpy as np 
import pandas as pd
import glob

import datetime
date = datetime.datetime.now().strftime('%Y%m%d')

# Check previous data

In [4]:
pd.read_csv('data/spe+bulk_dataset_20210825.csv', index_col=0)

,0,1,2,3,4,5,6,7,8,9,...,2043,2044,2045,2046,2047,TC%,TOC%,CaCO3%,core,mid_depth_mm
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.542079,0.394127,17.898887,SO264-64-1,115.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.247150,0.611208,13.632300,SO264-64-1,215.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.710588,0.523402,1.559822,SO264-64-1,305.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.562171,0.472551,0.746802,SO264-64-1,1015.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.578167,0.312852,2.210866,SO264-64-1,1815.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.137845,0.268411,24.091000,PS75-056-1,9755.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.434429,0.267635,26.568000,PS75-056-1,9855.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.583974,0.239806,28.045000,PS75-056-1,9945.0
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.125558,0.182222,24.707000,PS75-056-1,10055.0
102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.025567,0.203551,23.696000,PS75-056-1,10155.0

In [5]:
pd.read_csv('data/bulk_dataset_20210825.csv', index_col=0)

                       TC%      TOC%     CaCO3%        core  mid_depth_mm
SO264-64-1_00115  2.542079  0.394127  17.898887  SO264-64-1           115
SO264-64-1_00215  2.247150  0.611208  13.632300  SO264-64-1           215
SO264-64-1_00305  0.710588  0.523402   1.559822  SO264-64-1           305
SO264-64-1_01015  0.562171  0.472551   0.746802  SO264-64-1          1015
SO264-64-1_01815  0.578167  0.312852   2.210866  SO264-64-1          1815
...                    ...       ...        ...         ...           ...
PS75-056-1_09755  3.137845  0.268411  24.091000  PS75-056-1          9755
PS75-056-1_09855  3.434429  0.267635  26.568000  PS75-056-1          9855
PS75-056-1_09945  3.583974  0.239806  28.045000  PS75-056-1          9945
PS75-056-1_10055  3.125558  0.182222  24.707000  PS75-056-1         10055
PS75-056-1_10155  3.025567  0.203551  23.696000  PS75-056-1         10155

[2522 rows x 5 columns]

In [6]:
pd.read_csv('data/spe_dataset_20210818.csv', index_col=0)

,0,1,2,3,4,5,6,7,8,9,...,2044,2045,2046,2047,cps,core,composite_depth_mm,section_depth_mm,filename,section
composite_id,,,,,,,,,,,,,,,,,,,,,
SO264-09-2_00010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,174740,SO264-09-2,10,10,SO264-09-2_0000 10.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,176896,SO264-09-2,20,20,SO264-09-2_0000 20.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,183148,SO264-09-2,30,30,SO264-09-2_0000 30.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,185151,SO264-09-2,40,40,SO264-09-2_0000 40.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,186255,SO264-09-2,50,50,SO264-09-2_0000 50.0mm 10s 10kV 150uA No-F...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SO202-37-2_re_11340,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,257201,SO202-37-2_re,11340,960,SO202-37-2_1038 960.0mm 10s 10kV 150uA No-F...,1
SO202-37-2_re_11350,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,259019,SO202-37-2_re,11350,970,SO202-37-2_1038 970.0mm 10s 10kV 150uA No-F...,1
SO202-37-2_re_11360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,262329,SO202-37-2_re,11360,980,SO202-37-2_1038 980.0mm 10s 10kV 150uA No-F...,1
SO202-37-2_re_11370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,253033,SO202-37-2_re,11370,990,SO202-37-2_1038 990.0mm 10s 10kV 150uA No-F...,1
SO202-37-2_re_11380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,210838,SO202-37-2_re,11380,1000,SO202-37-2_1038 1000.0mm 10s 10kV 150uA No-F...,1

# Add new data to the database

In [7]:
merge_cores = pd.read_csv('data/spe+bulk_dataset_20210825.csv', usecols=['core'], squeeze=True)
spe_cores = pd.read_csv('data/spe_dataset_20210818.csv', usecols=['core'], squeeze=True)
bulk_cores = pd.read_csv('data/bulk_dataset_20210825.csv', usecols=['core'], squeeze=True)

In [76]:
for core in ['SO264-69-2', 'LV28-44-3']:
    for data in  [merge_cores, spe_cores, bulk_cores]:
        print(core in data.unique())

False
False
False
True
True
True

There is LV28-44-3 data in the dataset already, but it was exluded from the workfloiw because it was scanned by an old scanner head. This time what we are adding is the end part of this same core and scanned by the scanner head relevant to the other cores. It's named as "LV28-44-3 (554-1113cm)" in the data folder and "LV28-44-3-n" in the dataset.

## Build spectral dataset
I've manually check the scanning info of these cores to the rest cores. They are relevant.

### SO264-69-2

In [25]:
file_name = []
spe_all = []
depth_all = []
cps_all = []
core_all = []
s_depth_all = []

core = 'SO264-69-2'
# only read the 10kV which having better signal to the light elements
# BTW, its naming in the spe files is miswritten in SO264-69-1
spe_dir = glob.glob('data/SO264-69-2/Run 1 at  10kV/*.spe')

# make sure the order follows the depthes in filename
spe_dir.sort()
print('{} has {} data points.'.format(core, len(spe_dir)))

for spe in spe_dir:
    check_depth = spe.split()[3].split('_')[-1]

    # 5 and 6 digis means in mm
    if len(check_depth) >= 5:
        start_depth = int(check_depth)
    # 3 and 4 digit means in cm, needs to be multipled to be mm
    elif len(check_depth) >= 3:
        start_depth = int(check_depth) * 10

    file_name.append(spe.split('/')[-1])

    with open(spe, 'r') as f:
        content = []
        lines = f.readlines()
        for line in lines[49:]:
            content = np.hstack((content, line.split()))
        
        section_depth = int(lines[13][:-3])
        spe_all.append(content.astype(int))
        cps_all.append(int(lines[28]))
        core_all.append(core)
        s_depth_all.append(section_depth)
        depth_all.append(section_depth + start_depth)

print('core {} is done.'.format(core))

SO264-69-2 has 1848 data points.
core SO264-69-2 is done.

In [27]:
spe

'data/SO264-69-2/Run 1 at  10kV/SO264-69-1_13560 1000.0mm  10s  10kV 150uA No-Filter   0.0mm Run1 Rep0 Sett Low.spe'

In [28]:
# I rename the core name to avoid confusion with the data of previous version
core = 'LV28-44-3-n'

# only read the 10kV which having better signal to the light elements
spe_dir = glob.glob('data/LV28-44-3(554-1113cm)/Run 1 at  10kV_554-end/*.spe')

# make sure the order follows the depthes in filename
spe_dir.sort()
print('{} has {} data points.'.format(core, len(spe_dir)))

for spe in spe_dir:
    
    check_depth = spe.split()[3].split('_')[-1]

    # 5 and 6 digis means in mm
    if len(check_depth) >= 5:
        start_depth = int(check_depth)
    # 3 and 4 digit means in cm, needs to be multipled to be mm
    elif len(check_depth) >= 3:
        start_depth = int(check_depth) * 10

    file_name.append(spe.split('/')[-1])

    with open(spe, 'r') as f:
        content = []
        lines = f.readlines()
        for line in lines[49:]:
            content = np.hstack((content, line.split()))
        
        section_depth = int(lines[13][:-3])
        spe_all.append(content.astype(int))
        cps_all.append(int(lines[28]))
        core_all.append(core)
        s_depth_all.append(section_depth)
        depth_all.append(section_depth + start_depth)

print('core {} is done.'.format(core))

LV28-44-3-n has 544 data points.
core LV28-44-3-n is done.

In [30]:
spe_df = pd.DataFrame(spe_all, columns = [str(_) for _ in range(2048)])
spe_df['cps'] = cps_all
spe_df['core'] = core_all
spe_df['composite_depth_mm'] = depth_all
spe_df['section_depth_mm'] = s_depth_all
spe_df['filename'] = file_name

spe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Columns: 2053 entries, 0 to filename
dtypes: int64(2051), object(2)
memory usage: 37.5+ MB

In [31]:
spe_df[spe_df.isna().any(axis=1)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 2053 columns]

### Build composite_id

In [32]:
composite_id = []
for core, depth in zip(spe_df.core, spe_df.composite_depth_mm):
    composite_id.append('{}_{:05}'.format(core, depth))
    
spe_df['composite_id'] = composite_id

### Drop duplicates

In [33]:
clean_df = spe_df.drop_duplicates('composite_id', keep = 'last')
len(clean_df)

2387

#### Duplicates due to the folder naming
This issue was solved, but I leave a note here. I found it because almost all the data in LV28-44-3 are duplicated due to the duplicated composite depth. After checking, I realized there is a space in the folder name, which causes the split() function catching wrong start_depth.

Now the duplicates are reasonable, which means they are just the duplucating measurements at the begining and end of the core sections.

In [23]:
spe_df.loc[spe_df.composite_id.duplicated(), ['core', 'composite_depth_mm','section_depth_mm', 'filename']].to_csv('results/check_du_{}.csv'.format(date))

### Build section no.

In [34]:
clean_df = clean_df.set_index('composite_id')

section_all = []
# make sure the order follows the core and composite depth
clean_df.sort_values(by = 'composite_id', axis = 0, inplace = True)

for core in np.unique(clean_df.core):    
    # I assume every core scanned from section 0 so the first section in the core 
    # is marked as section 0. The deeper the larger number
    section = 0
    X = clean_df.loc[clean_df.core == core, 'section_depth_mm']
    for i in range(len(X)):
        section_all.append(section)
        try:
            # when section changes, the section depth should be reset to smaller number
            if X[i] > X[i + 1]:
                section += 1
        except IndexError:
            print('bottom of the core {}'.format(core))
        
clean_df['section'] = section_all

bottom of the core LV28-44-3-n
bottom of the core SO264-69-2

In [37]:
clean_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2044,2045,2046,2047,cps,core,composite_depth_mm,section_depth_mm,filename,section
composite_id,,,,,,,,,,,,,,,,,,,,,
LV28-44-3-n_05550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,57759,LV28-44-3-n,5550,10,LV28-44-3_0554 10.0mm 10s 10kV 150uA No-Fi...,0
LV28-44-3-n_05560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,90809,LV28-44-3-n,5560,20,LV28-44-3_0554 20.0mm 10s 10kV 150uA No-Fi...,0
LV28-44-3-n_05570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,91455,LV28-44-3-n,5570,30,LV28-44-3_0554 30.0mm 10s 10kV 150uA No-Fi...,0
LV28-44-3-n_05580,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,88273,LV28-44-3-n,5580,40,LV28-44-3_0554 40.0mm 10s 10kV 150uA No-Fi...,0
LV28-44-3-n_05590,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,88155,LV28-44-3-n,5590,50,LV28-44-3_0554 50.0mm 10s 10kV 150uA No-Fi...,0

## Build bulk dataset

In [38]:
pd.read_excel('data/Bulk chem/SO264-69-2_bulk CaCO3.xlsx')

     depth cm   TC%      TOC%      CaCO3
0           0  2.53  0.818626  14.260876
1          10  2.50  0.447396  17.104352
2          20  1.15  0.682441   3.896173
3          30  0.70  0.517439   1.521280
4          40  0.72  0.512596   1.728299
..        ...   ...       ...        ...
179      1800  0.31  0.249139   0.507155
180      1810  0.28  0.236520   0.362322
181      1820  0.32  0.178315   1.180664
182      1830  0.50  0.333453   1.387840
183      1840  0.61  0.428871   1.509351

[184 rows x 4 columns]

In [53]:
so_df = pd.read_excel('data/Bulk chem/SO264-69-2_bulk CaCO3.xlsx')
so_df.columns = ['depth cm','TC%', 'TOC%', 'CaCO3%']
so_df['core'] = ['SO264-69-2' for _ in range(len(so_df))]
so_df['mid_depth_mm'] = so_df['depth cm']*10 + 5
so_df.drop('depth cm', axis=1, inplace=True)
so_df

      TC%      TOC%     CaCO3%        core  mid_depth_mm
0    2.53  0.818626  14.260876  SO264-69-2             5
1    2.50  0.447396  17.104352  SO264-69-2           105
2    1.15  0.682441   3.896173  SO264-69-2           205
3    0.70  0.517439   1.521280  SO264-69-2           305
4    0.72  0.512596   1.728299  SO264-69-2           405
..    ...       ...        ...         ...           ...
179  0.31  0.249139   0.507155  SO264-69-2         18005
180  0.28  0.236520   0.362322  SO264-69-2         18105
181  0.32  0.178315   1.180664  SO264-69-2         18205
182  0.50  0.333453   1.387840  SO264-69-2         18305
183  0.61  0.428871   1.509351  SO264-69-2         18405

[184 rows x 5 columns]

In [43]:
pd.read_excel('data/Bulk chem/LV28-44-3_TCN__554-end cm.xlsx', skiprows=2)

/home/users/aslee/miniconda3/envs/caco3/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

      Depth  Age (ka)  CaCO3 (wt. %)  TOC (wt. %)
0     557.5    64.375           0.25       0.7125
1     562.5    65.207           0.13       0.5950
2     567.5    66.038           0.14       0.5775
3     572.5    66.869           0.18       0.6435
4     577.5    67.701           0.28       0.6920
..      ...       ...            ...          ...
106  1087.5   154.400           0.40       0.5925
107  1092.5   155.610           0.82       0.5175
108  1097.5   156.820           0.00       0.5520
109  1102.5   158.030           0.39       0.5075
110  1107.5   159.240           0.22       0.6105

[111 rows x 4 columns]

In [52]:
lv_df = pd.read_excel('data/Bulk chem/LV28-44-3_TCN__554-end cm.xlsx', skiprows=2)
lv_df.columns = ['depth cm', 'age', 'CaCO3%', 'TOC%']
lv_df['core'] = ['LV28-44-3-n' for _ in range(len(lv_df))]

# it's already the middle depth so no need of +5
lv_df['mid_depth_mm'] = (lv_df['depth cm']*10).astype(int)
lv_df
lv_df.drop(['depth cm', 'age'], axis=1, inplace=True)
lv_df

/home/users/aslee/miniconda3/envs/caco3/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:300: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

     CaCO3%    TOC%         core  mid_depth_mm
0      0.25  0.7125  LV28-44-3-n          5575
1      0.13  0.5950  LV28-44-3-n          5625
2      0.14  0.5775  LV28-44-3-n          5675
3      0.18  0.6435  LV28-44-3-n          5725
4      0.28  0.6920  LV28-44-3-n          5775
..      ...     ...          ...           ...
106    0.40  0.5925  LV28-44-3-n         10875
107    0.82  0.5175  LV28-44-3-n         10925
108    0.00  0.5520  LV28-44-3-n         10975
109    0.39  0.5075  LV28-44-3-n         11025
110    0.22  0.6105  LV28-44-3-n         11075

[111 rows x 4 columns]

In [54]:
bulk_df = pd.concat([so_df, lv_df], axis=0, join='outer')
bulk_df

      TC%      TOC%     CaCO3%         core  mid_depth_mm
0    2.53  0.818626  14.260876   SO264-69-2             5
1    2.50  0.447396  17.104352   SO264-69-2           105
2    1.15  0.682441   3.896173   SO264-69-2           205
3    0.70  0.517439   1.521280   SO264-69-2           305
4    0.72  0.512596   1.728299   SO264-69-2           405
..    ...       ...        ...          ...           ...
106   NaN  0.592500   0.400000  LV28-44-3-n         10875
107   NaN  0.517500   0.820000  LV28-44-3-n         10925
108   NaN  0.552000   0.000000  LV28-44-3-n         10975
109   NaN  0.507500   0.390000  LV28-44-3-n         11025
110   NaN  0.610500   0.220000  LV28-44-3-n         11075

[295 rows x 5 columns]

In [55]:
composite_id = []
for _, row in bulk_df.iterrows():
    composite_id.append('{}_{:05}'.format(row.core, row.mid_depth_mm))

bulk_df.index = composite_id
bulk_df.head()

                   TC%      TOC%     CaCO3%        core  mid_depth_mm
SO264-69-2_00005  2.53  0.818626  14.260876  SO264-69-2             5
SO264-69-2_00105  2.50  0.447396  17.104352  SO264-69-2           105
SO264-69-2_00205  1.15  0.682441   3.896173  SO264-69-2           205
SO264-69-2_00305  0.70  0.517439   1.521280  SO264-69-2           305
SO264-69-2_00405  0.72  0.512596   1.728299  SO264-69-2           405

### Check duplicates

In [56]:
bulk_df[bulk_df.index.duplicated()]

Empty DataFrame
Columns: [TC%, TOC%, CaCO3%, core, mid_depth_mm]
Index: []

## Build merged spe and bulk dataset

In [62]:
mask_c = spe_df.columns[:2048]  # only the channels
merge_df = pd.DataFrame()

for _, row in bulk_df.iterrows():
    mid = row['mid_depth_mm']
    core = row['core']
    
    # get the spe in 10 mm interval
    mask_r = ((spe_df.composite_depth_mm >= (mid-5)) & 
              (spe_df.composite_depth_mm <= (mid+5)) & 
              (spe_df.core == core))
    # make sure there are spe data in the depth range
    # otherwise, it gives you NA
    if mask_r.sum() > 0:
        merge_df = pd.concat(
            [merge_df, spe_df.loc[mask_r, mask_c].apply(np.mean, axis = 0).append(row)],
            axis = 1
        )
    
merge_df = merge_df.T.reset_index(drop = True)

In [63]:
print(merge_df.info())
print(merge_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Columns: 2053 entries, 0 to mid_depth_mm
dtypes: object(2053)
memory usage: 4.6+ MB
None
     0    1    2    3    4    5    6    7    8    9  ... 2043 2044 2045 2046  \
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

  2047   TC%      TOC%     CaCO3%        core mid_depth_mm
0  0.0   2.5  0.447396  17.104352  SO264-69-2          105
1  0.0  1.15  0.682441   3.896173  SO264-69-2          205
2  0.0   0.7  0.517439    1.52128  SO264-69-2          305
3  0.0  0.72  0.512596   1.728299  SO264-69-2          405
4  0.0  0.58  0.487851   0.767879  SO264-69-2          505

[5 rows x 2053 columns]

In [64]:
merge_df.loc[merge_df.isna().any(axis = 1), merge_df.columns[-6:]]

    2047  TC%    TOC% CaCO3%         core mid_depth_mm
183  0.0  NaN  0.7125   0.25  LV28-44-3-n         5575
184  0.0  NaN   0.595   0.13  LV28-44-3-n         5625
185  0.0  NaN  0.5775   0.14  LV28-44-3-n         5675
186  0.0  NaN  0.6435   0.18  LV28-44-3-n         5725
187  0.0  NaN   0.692   0.28  LV28-44-3-n         5775
..   ...  ...     ...    ...          ...          ...
288  0.0  NaN  0.5925    0.4  LV28-44-3-n        10875
289  0.0  NaN  0.5175   0.82  LV28-44-3-n        10925
290  0.0  NaN   0.552    0.0  LV28-44-3-n        10975
291  0.0  NaN  0.5075   0.39  LV28-44-3-n        11025
292  0.0  NaN  0.6105   0.22  LV28-44-3-n        11075

[110 rows x 6 columns]

This is expectable because LV28-44-3-n doesn't have TC measruement.

## Update the database
The latest spe dataset is in 20210818 while the rest are in 20210825 (based on `build_database_06.ipynb`).

### Spetral dataset

In [65]:
c_df = pd.DataFrame()
for df in [pd.read_csv('data/spe_dataset_20210818.csv', index_col=0),
           clean_df]:
    c_df = pd.concat([c_df, df], join='outer', axis=0)
    print(c_df.shape)
    print(c_df.columns[2048:])
c_df.head()

(57441, 2054)
Index(['cps', 'core', 'composite_depth_mm', 'section_depth_mm', 'filename',
       'section'],
      dtype='object')
(59828, 2054)
Index(['cps', 'core', 'composite_depth_mm', 'section_depth_mm', 'filename',
       'section'],
      dtype='object')

,0,1,2,3,4,5,6,7,8,9,...,2044,2045,2046,2047,cps,core,composite_depth_mm,section_depth_mm,filename,section
composite_id,,,,,,,,,,,,,,,,,,,,,
SO264-09-2_00010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,174740,SO264-09-2,10,10,SO264-09-2_0000 10.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,176896,SO264-09-2,20,20,SO264-09-2_0000 20.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,183148,SO264-09-2,30,30,SO264-09-2_0000 30.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,185151,SO264-09-2,40,40,SO264-09-2_0000 40.0mm 10s 10kV 150uA No-F...,0
SO264-09-2_00050,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,186255,SO264-09-2,50,50,SO264-09-2_0000 50.0mm 10s 10kV 150uA No-F...,0

In [66]:
c_df.to_csv('data/spe_dataset_{}.csv'.format(date))
print(date)

20220629

### Bulk chemistry

In [70]:
c_df = pd.DataFrame()
for df in [pd.read_csv('data/bulk_dataset_20210825.csv', index_col=0),
           bulk_df]:
    c_df = pd.concat([c_df, df], join='outer', axis=0)
    print(c_df.shape)
    print(c_df.columns)

(2522, 5)
Index(['TC%', 'TOC%', 'CaCO3%', 'core', 'mid_depth_mm'], dtype='object')
(2817, 5)
Index(['TC%', 'TOC%', 'CaCO3%', 'core', 'mid_depth_mm'], dtype='object')

In [71]:
c_df

                        TC%      TOC%     CaCO3%         core  mid_depth_mm
SO264-64-1_00115   2.542079  0.394127  17.898887   SO264-64-1           115
SO264-64-1_00215   2.247150  0.611208  13.632300   SO264-64-1           215
SO264-64-1_00305   0.710588  0.523402   1.559822   SO264-64-1           305
SO264-64-1_01015   0.562171  0.472551   0.746802   SO264-64-1          1015
SO264-64-1_01815   0.578167  0.312852   2.210866   SO264-64-1          1815
...                     ...       ...        ...          ...           ...
LV28-44-3-n_10875       NaN  0.592500   0.400000  LV28-44-3-n         10875
LV28-44-3-n_10925       NaN  0.517500   0.820000  LV28-44-3-n         10925
LV28-44-3-n_10975       NaN  0.552000   0.000000  LV28-44-3-n         10975
LV28-44-3-n_11025       NaN  0.507500   0.390000  LV28-44-3-n         11025
LV28-44-3-n_11075       NaN  0.610500   0.220000  LV28-44-3-n         11075

[2817 rows x 5 columns]

In [72]:
c_df.to_csv('data/bulk_dataset_{}.csv'.format(date))
print(date)

20220629

### spe+bulk

In [73]:
c_df = pd.DataFrame()
for df in [pd.read_csv('data/spe+bulk_dataset_20210825.csv', index_col=0),
           merge_df]:
    c_df = pd.concat([c_df, df], join='outer', axis=0)
    print(c_df.shape)
    print(c_df.columns[2048:])

(2350, 2053)
Index(['TC%', 'TOC%', 'CaCO3%', 'core', 'mid_depth_mm'], dtype='object')
(2643, 2053)
Index(['TC%', 'TOC%', 'CaCO3%', 'core', 'mid_depth_mm'], dtype='object')

In [74]:
c_df

,0,1,2,3,4,5,6,7,8,9,...,2043,2044,2045,2046,2047,TC%,TOC%,CaCO3%,core,mid_depth_mm
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.542079,0.394127,17.898887,SO264-64-1,115.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.24715,0.611208,13.6323,SO264-64-1,215.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.710588,0.523402,1.559822,SO264-64-1,305.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.562171,0.472551,0.746802,SO264-64-1,1015.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.578167,0.312852,2.210866,SO264-64-1,1815.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.5925,0.4,LV28-44-3-n,10875
289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.5175,0.82,LV28-44-3-n,10925
290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.552,0.0,LV28-44-3-n,10975
291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.5075,0.39,LV28-44-3-n,11025
292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.6105,0.22,LV28-44-3-n,11075

In [75]:
c_df.to_csv('data/spe+bulk_dataset_{}.csv'.format(date))
print(date)

20220629

# Build Ca & Br datasets
The predictions of the cores in case study can be compared with the Ca and Br as the proxis for CaCO3 and TOC respectively.

In [36]:
d1 = pd.read_excel('data/LV28-44-3(554-1113cm)/LV28-44-3_XRF_Ca_Br_554-end.xlsx', usecols='A, B')
d1.columns = ['depth_cm', 'Ca_Area']

d2 = pd.read_excel('data/LV28-44-3(554-1113cm)/LV28-44-3_XRF_Ca_Br_554-end.xlsx', usecols='D, E').dropna()
d2.columns = ['depth_cm', 'Br_Area']

lv_df = pd.merge(d1, d2, how='outer', on='depth_cm')
lv_df['core'] = ['LV28-44-3-n' for _ in range(len(lv_df))]
lv_df

     depth_cm  Ca_Area  Br_Area         core
0         554    15142    167.0  LV28-44-3-n
1         555    41403    197.0  LV28-44-3-n
2         556    39760    249.0  LV28-44-3-n
3         557    36834    232.0  LV28-44-3-n
4         558    36954    261.0  LV28-44-3-n
..        ...      ...      ...          ...
539      1109    44643    210.0  LV28-44-3-n
540      1110    47355    271.0  LV28-44-3-n
541      1111    48537    221.0  LV28-44-3-n
542      1112    45674    341.0  LV28-44-3-n
543      1113    21249     71.0  LV28-44-3-n

[544 rows x 4 columns]

In [37]:
lv_df.dropna()

     depth_cm  Ca_Area  Br_Area         core
0         554    15142    167.0  LV28-44-3-n
1         555    41403    197.0  LV28-44-3-n
2         556    39760    249.0  LV28-44-3-n
3         557    36834    232.0  LV28-44-3-n
4         558    36954    261.0  LV28-44-3-n
..        ...      ...      ...          ...
539      1109    44643    210.0  LV28-44-3-n
540      1110    47355    271.0  LV28-44-3-n
541      1111    48537    221.0  LV28-44-3-n
542      1112    45674    341.0  LV28-44-3-n
543      1113    21249     71.0  LV28-44-3-n

[540 rows x 4 columns]

In [35]:
so_df = pd.read_excel('data/SO264-69-2/SO264-69-2_XRF_Ca_Br.xlsx')
so_df.columns = ['depth_cm', 'Ca_Area', 'Br_Area']
so_df['core'] = ['SO264-69-2' for _ in range(len(so_df))]
so_df

      depth_cm  Ca_Area  Br_Area        core
0            0   225327     1048  SO264-69-2
1            1   227733     1025  SO264-69-2
2            2   213168     1069  SO264-69-2
3            3   228115      935  SO264-69-2
4            4   246562      979  SO264-69-2
...        ...      ...      ...         ...
1843      1846    39574      920  SO264-69-2
1844      1847    38716      893  SO264-69-2
1845      1848    34986      851  SO264-69-2
1846      1849    34994      902  SO264-69-2
1847      1850    31285     1046  SO264-69-2

[1848 rows x 4 columns]

In [34]:
ps_df = pd.read_excel('data/PS75-056-1/PS75-056-1_XRF_Ca_Br.xlsx')
ps_df.columns = ['depth_cm', 'Ca_Area', 'Br_Area']
ps_df['core'] = ['PS75-056-1' for _ in range(len(ps_df))]
ps_df

      depth_cm  Ca_Area  Br_Area        core
0          0.0   725591      129  PS75-056-1
1          0.5  1029655      117  PS75-056-1
2          1.0  1057936      159  PS75-056-1
3          1.5  1063451      172  PS75-056-1
4          2.0  1067066      184  PS75-056-1
...        ...      ...      ...         ...
2225    1018.5   245206      118  PS75-056-1
2226    1019.0   249767      126  PS75-056-1
2227    1019.5   222718      137  PS75-056-1
2228    1020.0   191287      157  PS75-056-1
2229    1020.5   118228       81  PS75-056-1

[2230 rows x 4 columns]

In [38]:
area_df = pd.concat(
    [lv_df, so_df, ps_df],
    join='outer', axis=0
    )

area_df

      depth_cm  Ca_Area  Br_Area         core
0        554.0    15142    167.0  LV28-44-3-n
1        555.0    41403    197.0  LV28-44-3-n
2        556.0    39760    249.0  LV28-44-3-n
3        557.0    36834    232.0  LV28-44-3-n
4        558.0    36954    261.0  LV28-44-3-n
...        ...      ...      ...          ...
2225    1018.5   245206    118.0   PS75-056-1
2226    1019.0   249767    126.0   PS75-056-1
2227    1019.5   222718    137.0   PS75-056-1
2228    1020.0   191287    157.0   PS75-056-1
2229    1020.5   118228     81.0   PS75-056-1

[4622 rows x 4 columns]

In [39]:
area_df.to_csv('data/CaBr_{}.csv'.format(date))
print(date)

20220629

## Update a core from training set

In [4]:
d1 = pd.read_excel('data/SO264-55-1/SO264-55-1_XRF_Ca_Br.xlsx', usecols='A, B')
d1.columns = ['depth_cm', 'Ca_Area']

d2 = pd.read_excel('data/SO264-55-1/SO264-55-1_XRF_Ca_Br.xlsx', usecols='D, E').dropna()
d2.columns = ['depth_cm', 'Br_Area']

so_df = pd.merge(d1, d2, how='outer', on='depth_cm')
so_df['core'] = ['SO264-55-1' for _ in range(len(so_df))]
so_df

      depth_cm  Ca_Area  Br_Area        core
0            1   603264    610.0  SO264-55-1
1            2   584541    617.0  SO264-55-1
2            3   559320    603.0  SO264-55-1
3            4   602109    595.0  SO264-55-1
4            5   529634    583.0  SO264-55-1
...        ...      ...      ...         ...
1540      1600    46190    768.0  SO264-55-1
1541      1601    48078    816.0  SO264-55-1
1542      1602    49734    766.0  SO264-55-1
1543      1603    49925    716.0  SO264-55-1
1544      1604    71684    743.0  SO264-55-1

[1545 rows x 4 columns]

In [6]:
cabr_df = pd.read_csv('data/CaBr_20220629.csv', index_col=0)
area_df = pd.concat([cabr_df, so_df], join='outer', axis=0, ignore_index=True)
area_df

      depth_cm  Ca_Area  Br_Area         core
0        554.0    15142    167.0  LV28-44-3-n
1        555.0    41403    197.0  LV28-44-3-n
2        556.0    39760    249.0  LV28-44-3-n
3        557.0    36834    232.0  LV28-44-3-n
4        558.0    36954    261.0  LV28-44-3-n
...        ...      ...      ...          ...
6162    1600.0    46190    768.0   SO264-55-1
6163    1601.0    48078    816.0   SO264-55-1
6164    1602.0    49734    766.0   SO264-55-1
6165    1603.0    49925    716.0   SO264-55-1
6166    1604.0    71684    743.0   SO264-55-1

[6167 rows x 4 columns]

In [7]:
cabr_df.shape

(4622, 4)

In [8]:
area_df.to_csv('data/CaBr_{}.csv'.format(date))
print(date)

20220701